<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guilherme.inventorycontrol">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="EstoqueApp"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".AddProductActivity" />
        <activity android:name=".ProductListActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
